:root {
    --background-primary-color: #e6d9cb;
    --background-secondary-color: #f6ede3;
    --sidebar-background-color: #EFE1D5;
    --text-primary-color: #1b1b1b;
    --text-secondary-color: #666666;
    --text-heading-color: #1c0e02;
    --white-color: white;
    --accent-color: #8f532e;
    --card-color: #edddd0;
    --linear-gradient: linear-gradient(180deg, #f7f2e7 0%, rgba(239, 232, 215, 0) 77.3%);
    --base-font-family: "Poppins", sans-serif;
    --heading-font-family: "DM Serif Display", serif
}
.sidebar {
    background: var(--sidebar-background-color);
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}
.body{
    background-color: var(--background-primary-color);

}

/* logo */
.bars {
    display: none;
}

.logo {
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    margin-left: 2rem;
    height: 4%;
}

.logo>span>span {
    color: var(--pink);
}

.logo>img {
    width: 3rem;
    height: 3rem;
}


/* menu */
.menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menuItem {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    border-radius: 0.7rem;
    font-weight: 400;
}
.submenu{
flex-direction: column;
line-height: 40px;
gap: 1rem;
}
.submenuItem{
        margin-top: 1rem;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    border-radius: 0.7rem;
    font-weight: 400;
}
.submenuItemactive{
        margin-top: 1rem;
   background: var( --background-secondary-color);
line-height: 40px;
    align-items: center;
    margin-left: 2rem;
    transition: all 300ms ease;
    border-radius: 0.7rem;
    font-weight: 600;
}
.menuItem:hover {
    cursor: pointer;
}

.menu .menuItem:last-child {
    position: absolute;
    bottom: 2.3rem;
    width: 100%;
}

.active {
    
    font-weight: 600;
    /* line-height: 40px; */
    /* letter-spacing: -0.02em; */
    text-align: left;
}

.active::before {
    content: "";
    width: 8px;
    height: 100%;
    background: var(--pink);
    margin-right: calc(1rem - 8px);
}


/* Tablets */
@media screen and (max-width: 1200px) {
    .menuItem>span {
        display: none;
    }

    .logo {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        position: fixed;
        z-index: 9;
        background: var(--sidebar-background-color);
        width: 55%;
        padding-right: 1rem;
        height: 100%;
    }

    .menuItem>span {
        display: block;
    }

    .logo {
        display: flex;
    }

    .menu .menuItem:last-child {
        position: relative;
        margin-top: 6rem;
    }

    .bars {
        display: flex;
        position: fixed;
        top: 2rem;
        left: 60%;
        background: var(--sidebar-background-color);
        padding: 10px;
        border-radius: 10px;
        z-index: 9;
    }

    .close {
        left: -60%;
    }
}